.item_container{
    // width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: flex-start;
    height: 5rem;
    padding-left: 1rem;
    border: 1px solid #128C7E;
    text-decoration: none;
    position: relative;
    &:focus, &:hover, &:visited, &:link, &:active {
        text-decoration: none;
    }
    .profile{
        height: 3rem;
        width: 3rem;
        background-color: white;
        border-radius: 100px;
    }
    .delete{
        position: absolute;
        right: 1rem;
        font-size: small;
        color: white;
        background-color: rgb(178, 2, 2);
        border-radius: 5rem;
        padding: 0.2rem;
    }
    .right{
        padding-left: 1rem;
    }
}